/* estilos de impressão inicio*/
@media print{
  
    @page{
        size: 210mm 297mm !important;
        margin-top: 15mm !important;
        margin-left: 20mm !important;
        margin-bottom: 15mm !important;
        margin-right: 20mm !important;
    }

    body, html, section {
        background-color: transparent !important;
        background: transparent !important;
    }
          
    p {
        widows: 3;
    }

    p {
        orphans: 3;
    }

    /*Utilizar em todos elementos que você não quer que ele se quebre no meio*/
    *[data-nao-quebra="1"], blockquote, .box, .saida-codigo, .codigo, .colunas-img-content, .figuras-imagem, .figura-ilustracao, .tabela, ._2-colunas, ._2-colunas-2 {
        page-break-inside: avoid !important;
    }

    /*Utilizar em todos elementos que você quer que tenha uma quebra de pagina ANTES dele*/
    *[data-quebra="1"], .content-titulo {
        display: block;
        page-break-before: always !important;
    }

    /*quando quero que algo não apareça*/
    *[data-hide="1"], .btn-link.button, .image-intercection.topo, .image-intercection.gambi, .btn-iniciar.btn-hero.w-button, .section-conteudo.titulo-principal, .audiobook, .divisor.d-foto, .w-webflow-badge, .access-button, .video.w-video.w-embed, .divisor, .container-encerramento, .aviso-legal, .rodape, .navbar.w-nav {
        display:none !important;
    }

    /* texto de acessibilidade*/
    .texto-acessibilidade {
      position:static;
      left:0px;
      top:0px;
      width:auto;
      height:auto;
      overflow:visible;
      background-color: transparent !important;
    }
    /* fim texto de acessibilidade*/


    /* esconder itens da impressão */
    .access-button, .audiobook, .section-encerramento, .div-video, .videoaula-embed, .oi-content, .elemento-pattern, .div-imagem-ilustrativa, .video-aula {
      display: none !important;
    }

      
    /* background das seções*/
    .section-conteudo, .cor-2, .referencias {
      background-color: transparent !important;
      background-image: none !important;
      padding: 0px !important;
    }
      
    /*configuração capa*/
    .capa-container, .div-titulo{
        max-width: 820px !important;
        height: 970px !important;
        margin-left: 40px !important;

    }
  
    .titulo-capa{
         font-size: 2.2em !important;
    }
    /*fim configuração capa*/
  

    /* configuração de texto */
    blockquote {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
        padding:20px 20px 20px 100px !important;
        font-size: 0.9em !important;
        text-align:justify !important;
    }

    p, ul, ol, .bullets-abc {
        font-size: 0.95em !important;
        text-align:justify !important;
        line-height: 1.4em !important;
    }
  
  .referencias-texto p {
        color: #333333 !important;
    }
  
  .section-conteudo.referencias{
    display: block !important;
  }

    h1 {
        font-size: 1.8em !important;
        margin-top: 30px !important;
    }
  
    .titulo-texto {
        font-size: 1.8em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.3em !important;
    }

    h4 {
        font-size: 1.1em !important;
    }
     h5 {
        font-size: 1.1em !important;
    }

    .titulo-box {
        font-size: 1.4em !important;
    }
    /* fim da configuração de texto*/


    /* remover box shadow*/
    .box {
        box-shadow: none !important;
    }

    /* gráficos de background */
    * {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }


    th, td {
        padding: 7px !important;
        font-size: 12px !important;
    }
    
    /* tag de fechamento media print*/
}