.logo-b42 {
  display: none !important;
}

#b42-btn-pdf {
  display: none !important;
}

.b42-acc__contentSidebar:has(label[for="comment-input"]) {
  display: none !important;
}

#b42-dicionario {
  display: none !important;
}

#b42-barra-highlight {
  display: none !important;
}

.b42-text-anotation {
  display: none !important;
}

.barra-menu #barra-menu-line {
  display: none !important;
}

#b42-acc__mySidebar {
  height: 270px !important;
}

div[vw] {
  top: 40% !important;
}

/* nao precisa */
.pagination {
  display: flex;
}

#percent-progress {
  z-index: 101;
}