@media print{
  
    @page{
        size: 210mm 297mm !important;
        margin-top: 15mm !important;
        margin-left: 20mm !important;
        margin-bottom: 15mm !important;
        margin-right: 20mm !important;
    }

    body, html, section {
        background-color: transparent !important;
        background: transparent !important;
    }
          
    p {
        widows: 3;
    }

    p {
        orphans: 3;
    }

    /*Utilizar em todos elementos que você não quer que ele se quebre no meio*/
    *[data-nao-quebra="1"], .box-imagem-e-texto, blockquote, h5, .element-podcast {
        page-break-inside: avoid !important;
    }

    /*Utilizar em todos elementos que você quer que tenha uma quebra de pagina ANTES dele*/
    *[data-quebra="1"], .section-action, .bg-intro {
        display: block !important;
        page-break-before: always !important;
    }

    /*quando quero que algo não apareça*/
    *[data-hide="1"], .footer, .element-faq, .w-webflow-badge,  .oi-content, .video-aula-div, .html-embed, .separation-wrapper {
        display:none !important;
    }

    /* texto de acessibilidade*/
    .texto-acessibilidade {
      position:static;
      left:0px;
      top:0px;
      width:auto;
      height:auto;
      overflow:visible;
      background-color: transparent !important;
    }
    /* fim texto de acessibilidade*/
      

    /*configuração capa */
    .header-whopper, .background-video{
        max-width: 820px !important;
        height: 950px !important;
        /*margin-left: 40px !important;*/

    }

    .titulo-capa{
        font-size: 2.4em !important;
    }
    /*fim configuração capa*/
  

    /* configuração de texto */
    blockquote {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
        padding:20px 20px 20px 100px !important;
        font-size: 0.9em !important;
        text-align:justify !important;
    }

    p, ul, ol, .bullets-abc {
        font-size: 0.95em !important;
        text-align:justify !important;
        line-height: 1.4em !important;
    }
  
    h1 {
        font-size: 1.8rem !important;
        margin-top: 30px !important;
    }
  

    h2 {
        font-size: 1.5rem !important;
    }

    .heading-style-h2{
        margin-top: 20px !important;
    }

    h3 {
        font-size: 1.3rem !important;
    }
     /*fim da configuração de texto*/

    /* gráficos de background */
    * {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }

    th, td {
        padding: 7px !important;
        font-size: 12px !important;
    }

  
/*zerar largura da página */ 
  .padding-xxhuge{
 	 padding: 0px !important;
  }

/*diminuir o tamanho da imagem decorativa*/ 
  .image-decorative{
  	padding-top: 280px !important;
  }


  .feature-image-mask{
    min-height: 300px !important;
  }

  /*espaçamento do título da página*/
  .conteudo-wrapper, .container-large{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  /*tamanho do título principal*/
  .heading-style-h2{
    font-size: 1.8em !important;
  }

  /*box empresas destaque*/
  .slide-image-base{
    height: 320px !important;
  }

  .image-wrapper-box{
    width: 30% !important;
  }

  .elemenet-content-grid{
    margin-top: 2rem;
  }

  .slide-content-wrapper {
    width: 70% !important;
    padding-left: 25px !important;
  }

  .elemenet-content-grid{
    background-position: 100% 100%, 0px 0px, -21% !important;
  }

  /*fim box empresas destaque*/

  /*inicio do conecte-se*/
  .bg-intro{
    margin-bottom: 0px;
    padding: 20px 1rem 0.5rem !important;
}

  /*fim conecte-se*/

  .section-action{
    background-image: none !important;
    background-color: #00508e !important;
  }

 /* tag de fechamento media print*/
}